.layout .layout-top .navigation, .content {
    padding-top: 15px !important;
}

.navigation .logo {
    top: 35px !important;
}

.app.dark-theme {
    color: #f4432c !important;
}

.player-controls button path {
    fill: #f4432c !important;
}

.seek-bar .tracks .knob-bar .knob {
    background-color: #f4432c !important;
}

.seek-bar .tracks .played-bar {
    background-color: white !important;
}

button.skip-forward-button.skip_forward_button {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='45' height='45' viewBox='0 0 45 45' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eplayer/skipforward%3C/title%3E%3Cpath d='M33 9H21.5C12.94 9 6 15.94 6 24.5 6 33.06 12.94 40 21.5 40 30.06 40 37 33.06 37 24.5a1 1 0 0 0-2 0C35 31.956 28.956 38 21.5 38S8 31.956 8 24.5 14.044 11 21.5 11H33v4l6-5-6-5v4z' fill='#f4432c' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}

button.skip-back-button.skip_back_button {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='45' height='45' viewBox='0 0 45 45' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eplayer/skipback%3C/title%3E%3Cpath d='M12 9h11.5C32.06 9 39 15.94 39 24.5 39 33.06 32.06 40 23.5 40 14.94 40 8 33.06 8 24.5a1 1 0 0 1 2 0C10 31.956 16.044 38 23.5 38S37 31.956 37 24.5 30.956 11 23.5 11H12v4l-6-5 6-5v4z' fill='#f4432c' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}

.skip-back-button p {
    color: #f4432c !important;
}

.skip-forward-button p {
    color: #f4432c !important;
}
